.App {
  text-align: center;
  height: 100%;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer {
  background-color: black;
  font-family: Impact;
  padding: 2px;
  text-align: center;
}